@model FYP_AgroNepalTrade.Models.BlogViewModels.IndexViewModel
@inject SignInManager<ApplicationUser> SignInManager
@using PagedList.Core.Mvc
@{
    ViewBag.Title = "Our Blogs";
}
<h1>Our Blogs</h1>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Author"))
{
    <a class="btn btn-primary" asp-area="" asp-controller="Blog" asp-action="CreateBlog" style="float:right;">Create Blog</a>
}
<div class="container">
    @* <form asp-controller="Blog" asp-action="Index" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group mb-3">
                <input asp-for="SearchString" type="text" class="form-control" placeholder="Search blogs for..." />
                <div class="input-group-append ">
                    <button class="btn btn-outline-secondary" style="padding: 0 10px 0 10px">Search</button>
                </div>
            </div>
        </form>*@
    <div class="m-3">
        <form class="d-flex col-3" asp-controller="Blog" asp-action="Index">
            <input asp-for="SearchString" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <div class="row align-content-center">
        @foreach (var blog in Model.Blogs)
        {
            <div class="col-lg-4 col-md-3 mb-4">
                <div class="card border-0 shadow">
                    <img src="~/UserFiles/Blogs/@blog.Id/HeaderImage.jpg" class="card-img-top">
                    <div class="card-body">
                        <div class="row text-center" style="margin: 0px auto 10px 0px;">
                            <h5 class="card-title text-center w-100"><a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id">@blog.Title</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div list="@Model.Blogs" count="10">
        <pager class="page-container" list="@Model.Blogs" options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext" asp-action="Index" asp-controller="Blog" asp-route-query="@Model.SearchString"></pager>
    </div>
</div>
